*{
    color: white;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
}

h1{
    color: #050A30;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.turn-container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.turn-container h3{
    color: rgb(0, 0, 0);
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.turn-container .turn-box{
    border: 3px solid #000000;
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff;
}

.turn-container .turn-box:nth-child(even){
    border-right: none;
}

.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: #C70039;
    z-index: -1;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    width: 250px;
    margin: 30px auto;
    color: #000;
}

.main-grid > div:nth-child(1),
.main-grid > div:nth-child(2),
.main-grid > div:nth-child(3) {
    border-top: none;
}


.main-grid > div:nth-child(7),
.main-grid > div:nth-child(8),
.main-grid > div:nth-child(9) {
    border-bottom: none;
}


.main-grid > div:nth-child(1),
.main-grid > div:nth-child(4),
.main-grid > div:nth-child(7) {
    border-left: none;
}


.main-grid > div:nth-child(3),
.main-grid > div:nth-child(6),
.main-grid > div:nth-child(9) {
    border-right: none;
}


.box{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid #000000;
    color: #000;
}

.box:hover{
    background-color: #C70039;
}

#play-again{
    background-color: #C70039;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#play-again:hover{
    padding: 10px 40px;
    background-color: #050A30;
    color: #ffffff;
}

@media(max-width:425px){
    .main-container {
        display: inline-block;
    }
}